.navbar{
  padding-bottom: 1rem;
}

.linkFix{
  text-decoration: none;
  color: white;
}
a{
  justify-content: left;
}
.login{
  justify-content: right;
}
.navbar-brand{
  padding-bottom: .5rem;
}
img{
  height: 3rem;
  margin-right: 1rem;
  border-radius: 50%;
}